<!-- Exercices feed -->
<% if @course.exercises.empty? %>
    <div class="">
        Not Yet Exercise, Add your first Exercise
        <%= link_to 'Add Exo', new_course_exercise_path(@course) ,
        class:"ml-4 bg-blue-500 rounded-full px-2 " %>
    </div>
<% else %>
    <!-- Exercices feed loop -->
    <% @course.exercises.feed_exercise.each do |exercise| %>
        <div class="border rounded-b-md m-2">
            <label for="<%= exercise.title %>" class="">
                <%#= link_to(new_exercise_reponse_path(exercise), class: " text-black") do %>
                <%#= link_to root_path(), class: " text-black" do %>
                <%# end %>
                <div class="bg-gray-200 p-2">
                    <h2 class="font-semibold"><%= exercise.title %></h2>
                </div>
            </label>

            <!-- Exercices Detail -->
            <input type="checkbox" id="<%= exercise.title %>" class="modal-toggle"/>
            <div class="modal">
                <div class="modal-box w-8/12 mx-auto max-w-4xl ">
                    <h3 class="font-bold text-lg"><%= exercise.title %></h3>
                    <p class="p-2">
                        <%= truncate(strip_tags(exercise.content.to_s), length: 100) %>
                    </p>
                    <div class="modal-action">
                        <label for="<%= exercise.title %>" class="btn btn-sm btn-circle">✕</label>
                    </div>
                </div>
            </div>

            <div class="flex border-t p-2">
                <div class="flex ">Traité</div>
                <div class="flex ">corrigés</div>
            </div>
        </div>
    <% end %>
<% end %>




    <!-- Add Exercise -->
    <%# if exercise.completed_by(current_user) %>
    <!-- Feed Exercise unlock correction -->
    <%#= render "courses/shared/completed_exercises", exercise: exercise %>
    <%# else %>
    <!-- Feed New Exercise -->
    <%#= render "courses/shared/new_exercises", exercise: exercise %>
    <%# end %>




